#Section for importing libraries

In [1]:


import pandas as pd
import re
from pathlib import Path
import os

#Importing the Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

project_dir = Path('/content/drive/MyDrive/Project - Neo4j + ML')

os.chdir(project_dir)


df_whole = pd.read_csv('observations-616809.csv')
df_whole.head(5)

Mounted at /content/drive

/tmp/ipython-input-2601466352.py:9: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  df_whole = pd.read_csv('observations-616809.csv')

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name,"field:id meant for ""eater"" or organism being eaten?","field:url for ""partner"" observation",field:is observation one of these special types of feeding?
0,10686,6662b18b-6343-460b-90e8-d494df9766e8,2006-07-01,2006-07-01,NaN,Eastern Time (US & Canada),520,johnnybirder,Johnny Wilson,2011-01-30 15:03:49 UTC,...,Mus,NaN,Mus musculus,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/1766953,"No, none of these"
1,338604,c127ae38-c311-40bb-bc5f-2e48d8e02c59,2012-08-19 8:00 AM,2012-08-19,2012-08-19 13:00:00 UTC,Central Time (US & Canada),17056,fvaldesp_tutor,Francisco Valdes Perezgasga,2013-07-19 22:24:55 UTC,...,Geococcyx,NaN,Geococcyx californianus,NaN,NaN,NaN,NaN,eater,NaN,"No, none of these"
2,414645,8900f5f2-3c54-4397-b215-7033ab0c0e4b,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:14:16 UTC,...,Lycophidion,NaN,Lycophidion capense,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/414707,NaN
3,414707,f71bf6a5-7cc2-49c3-b5dd-df5716f5cb32,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:47:17 UTC,...,Mochlus,NaN,Mochlus sundevallii,NaN,NaN,NaN,NaN,thing being eaten,https://www.inaturalist.org/observations/414645,NaN
4,420386,56bf357d-9c01-4e0a-8cdb-a4f7aa548081,2013-10-06 15:10:40,2013-10-06,2013-10-06 19:10:40 UTC,Eastern Time (US & Canada),12796,scadwell,Suzanne Cadwell,2013-10-06 22:55:37 UTC,...,Lampropeltis,NaN,Lampropeltis getula,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#This dictionary is used storing all main id info
DataDictionary = df_whole[["id", "scientific_name", "common_name", "quality_grade", "field:id meant for \"eater\" or organism being eaten?", "iconic_taxon_name", "taxon_id", "taxon_species_name","taxon_kingdom_name", "taxon_phylum_name", "taxon_subphylum_name", "taxon_class_name", "taxon_family_name", "taxon_genus_name"]]
DataDictionary.head(5)

,id,scientific_name,common_name,quality_grade,"field:id meant for ""eater"" or organism being eaten?",iconic_taxon_name,taxon_id,taxon_species_name,taxon_kingdom_name,taxon_phylum_name,taxon_subphylum_name,taxon_class_name,taxon_family_name,taxon_genus_name
0,10686,Mus musculus,House Mouse,research,eater,Mammalia,44705.0,Mus musculus,Animalia,Chordata,Vertebrata,Mammalia,Muridae,Mus
1,338604,Geococcyx californianus,Greater Roadrunner,research,eater,Aves,1986.0,Geococcyx californianus,Animalia,Chordata,Vertebrata,Aves,Cuculidae,Geococcyx
2,414645,Lycophidion capense,Cape Wolf Snake,research,eater,Reptilia,29508.0,Lycophidion capense,Animalia,Chordata,Vertebrata,Reptilia,Lamprophiidae,Lycophidion
3,414707,Mochlus sundevallii,Sundevall's Writhing Skink,research,thing being eaten,Reptilia,37932.0,Mochlus sundevallii,Animalia,Chordata,Vertebrata,Reptilia,Scincidae,Mochlus
4,420386,Lampropeltis getula,Eastern Kingsnake,research,NaN,Reptilia,29813.0,Lampropeltis getula,Animalia,Chordata,Vertebrata,Reptilia,Colubridae,Lampropeltis

In [4]:
#Quality research grade = "Research"
df_r = df_whole[df_whole['quality_grade'] == 'research']
df_r

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name,"field:id meant for ""eater"" or organism being eaten?","field:url for ""partner"" observation",field:is observation one of these special types of feeding?
0,10686,6662b18b-6343-460b-90e8-d494df9766e8,2006-07-01,2006-07-01,NaN,Eastern Time (US & Canada),520,johnnybirder,Johnny Wilson,2011-01-30 15:03:49 UTC,...,Mus,NaN,Mus musculus,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/1766953,"No, none of these"
1,338604,c127ae38-c311-40bb-bc5f-2e48d8e02c59,2012-08-19 8:00 AM,2012-08-19,2012-08-19 13:00:00 UTC,Central Time (US & Canada),17056,fvaldesp_tutor,Francisco Valdes Perezgasga,2013-07-19 22:24:55 UTC,...,Geococcyx,NaN,Geococcyx californianus,NaN,NaN,NaN,NaN,eater,NaN,"No, none of these"
2,414645,8900f5f2-3c54-4397-b215-7033ab0c0e4b,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:14:16 UTC,...,Lycophidion,NaN,Lycophidion capense,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/414707,NaN
3,414707,f71bf6a5-7cc2-49c3-b5dd-df5716f5cb32,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:47:17 UTC,...,Mochlus,NaN,Mochlus sundevallii,NaN,NaN,NaN,NaN,thing being eaten,https://www.inaturalist.org/observations/414645,NaN
4,420386,56bf357d-9c01-4e0a-8cdb-a4f7aa548081,2013-10-06 15:10:40,2013-10-06,2013-10-06 19:10:40 UTC,Eastern Time (US & Canada),12796,scadwell,Suzanne Cadwell,2013-10-06 22:55:37 UTC,...,Lampropeltis,NaN,Lampropeltis getula,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11931,314349484,c7f7af28-c04f-49a8-8645-73c4fe56ff2d,2025-08-30 14:43:13-04:00,2025-08-30,2025-08-30 18:43:13 UTC,Eastern Time (US & Canada),1703065,mpearlstein,mpearlstein,2025-09-16 14:39:19 UTC,...,Phyllosticta,NaN,Phyllosticta asiminae,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/31324...,Parasitism
11934,314361275,efb560cb-2113-4314-b68d-c0ef1d1150cd,2025/09/10,2025-09-10,NaN,Kuala Lumpur,2107812,plains-wanderer,Wichâ€™yanan (Jay) Limparungpatthanakij,2025-09-16 15:37:09 UTC,...,Trogonoptera,NaN,Trogonoptera brookiana,NaN,NaN,NaN,NaN,eater,NaN,Pollination
11942,314417607,bf1ec111-2dd4-4b9c-97e4-b3c55f1c12c0,2025-09-15 18:12:08-04:00,2025-09-15,2025-09-15 22:12:08 UTC,Eastern Time (US & Canada),2378743,fuzzyspider,NaN,2025-09-16 20:03:01 UTC,...,Lycorma,NaN,Lycorma delicatula,NaN,NaN,NaN,NaN,organism being eaten,http://www.inaturalist.org/observations/314417917,"No, none of these"
11943,314417917,debbb691-2ccb-4687-8c0e-22c3b4388407,2025-09-15 18:12:21-04:00,2025-09-15,2025-09-15 22:12:21 UTC,Eastern Time (US & Canada),2378743,fuzzyspider,NaN,2025-09-16 20:04:29 UTC,...,Agelenopsis,NaN,NaN,NaN,NaN,NaN,NaN,eater,http://www.inaturalist.org/observations/314417607,"No, none of these"
11949,314661724,bbb7638b-c53d-44b2-b330-e59fd0aa37aa,2024/08/24 12:17,2024-08-24,2024-08-24 10:17:00 UTC,Paris,5543953,gcovain,GaÃ«l Covain,2025-09-17 21:29:15 UTC,...,Marpissa,NaN,Marpissa muscosa,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/31466...,"No, none of these"

##2) Filtering the Partner observation data
Out of 7661 data - 2013 having different format:


1. Empty Values - 1948
2. Format - /observations/new?copy=\<id> = 1
4. n/a, na, none = 10
5. Weird names like Apple = 17
6. Links containing the word "Taxa" = 23
7. Format - naturalist/photos/\<id> - 1
8. \<id> = 2
9. Link starting with "1https" - 1
11. Format - observations/\<id>#activity.. = 10

In [5]:
col = 'field:url for "partner" observation'
#Find the columns with "activity" keyword
hash_rows = df_r[col].str.contains('#', na=False)
df_r.loc[hash_rows, col] = df_r.loc[hash_rows, col].str.replace(
    r'(/observations/\d+).*', r'\1', regex=True
)

In [6]:
col = 'field:url for "partner" observation'

# Change the Format - /observations/new?copy=<id> = 1 value to na
df_r[col] = df_r[col].replace('https://www.inaturalist.org/observations/new?copy=51188925', pd.NA)


#Remove the unwanted "1" character
df_r[col] = df_r[col].replace('1https://www.inaturalist.org/observations/206023212', 'https://www.inaturalist.org/observations/206023212')

#Standardize the format - /observations/<id>
df_r[col] = df_r[col].replace('97610245', 'https://www.inaturalist.org/observations/97610245')
df_r[col] = df_r[col].replace('97610244', 'https://www.inaturalist.org/observations/97610244')

#change the na or non value record to nan values
df_r[col] = df_r[col].replace('na', pd.NA)
df_r[col] = df_r[col].replace('none', pd.NA)

#Change the weird names to nan
vals = [
    "butterfly bush",
    "asciepias incarnata",
    "Acrida",
    "Haplotaxida",
    "Subterranean Termites",
    "Brachycera",
    "Holly",
    "abelha do mel",
    "Apple",
    "Flowering Plants",
    "Grasses",
    "Flowering plants",
    "Entelygyne spiders",
    "Pinks, cactuses and allies",
    "Callinectes sapidus",
    "ants",
    "Tachinid Fly"

]
df_r[col] = df_r[col].astype("string").str.strip()
df_r[col] = df_r[col].replace(vals, pd.NA)

/tmp/ipython-input-576740351.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('https://www.inaturalist.org/observations/new?copy=51188925', pd.NA)
/tmp/ipython-input-576740351.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('1https://www.inaturalist.org/observations/206023212', 'https://www.inaturalist.org/observations/206023212')
/tmp/ipython-input-576740351.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('97610245', 'https://www.inaturalist.org/observations/97610245')
/tmp/ipython-input-576740351.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('97610244', 'https://www.inaturalist.org/observations/97610244')
/tmp/ipython-input-576740351.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('na', pd.NA)
/tmp/ipython-input-576740351.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace('none', pd.NA)
/tmp/ipython-input-576740351.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].astype("string").str.strip()
/tmp/ipython-input-576740351.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r[col] = df_r[col].replace(vals, pd.NA)

In [7]:
df_r.isna().sum()

id                                                                0
uuid                                                              0
observed_on_string                                                0
observed_on                                                       0
time_observed_at                                                498
                                                               ...
taxon_variety_name                                             7621
taxon_form_name                                                7659
field:id meant for "eater" or organism being eaten?             175
field:url for "partner" observation                            1976
field:is observation one of these special types of feeding?    2046
Length: 71, dtype: int64

In [8]:
#Change the records containing the word "taxa" to nan
mask = df_r[col].str.contains(r'(?i)\btaxa\b', na=False)
df_r.loc[mask, col] = pd.NA

In [9]:
df_r.isna().sum()

id                                                                0
uuid                                                              0
observed_on_string                                                0
observed_on                                                       0
time_observed_at                                                498
                                                               ...
taxon_variety_name                                             7621
taxon_form_name                                                7659
field:id meant for "eater" or organism being eaten?             175
field:url for "partner" observation                            1999
field:is observation one of these special types of feeding?    2046
Length: 71, dtype: int64

In [10]:
#Drop all na values
df_r = df_r.dropna(subset=[col]).reset_index(drop=True)
df_r

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name,"field:id meant for ""eater"" or organism being eaten?","field:url for ""partner"" observation",field:is observation one of these special types of feeding?
0,10686,6662b18b-6343-460b-90e8-d494df9766e8,2006-07-01,2006-07-01,NaN,Eastern Time (US & Canada),520,johnnybirder,Johnny Wilson,2011-01-30 15:03:49 UTC,...,Mus,NaN,Mus musculus,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/1766953,"No, none of these"
1,414645,8900f5f2-3c54-4397-b215-7033ab0c0e4b,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:14:16 UTC,...,Lycophidion,NaN,Lycophidion capense,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/414707,NaN
2,414707,f71bf6a5-7cc2-49c3-b5dd-df5716f5cb32,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:47:17 UTC,...,Mochlus,NaN,Mochlus sundevallii,NaN,NaN,NaN,NaN,thing being eaten,https://www.inaturalist.org/observations/414645,NaN
3,465679,4b178d06-2eb0-4d39-aa4b-4b7c33e85972,2013-07-02,2013-07-02,NaN,Harare,23072,i_c_riddell,NaN,2013-11-23 13:49:46 UTC,...,Lutra,NaN,Lutra capensis,NaN,Lutra capensis capensis,NaN,NaN,eater,https://www.inaturalist.org/observations/66466718,NaN
4,509046,aac5dd6f-a67f-4396-a835-a16a411fbf1e,1988-01-02 08:30,1988-01-02,1988-01-02 06:30:00 UTC,Harare,23072,i_c_riddell,NaN,2014-01-24 14:04:12 UTC,...,Dendroaspis,NaN,Dendroaspis polylepis,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/66466454,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5657,314331232,9e532ecd-d83a-409e-ad44-8120cac965c0,2025/09/16 11:14 AM,2025-09-16,2025-09-16 10:14:00 UTC,London,4937936,hestan,Hester Stanwood,2025-09-16 12:57:12 UTC,...,Phalacrocorax,NaN,Phalacrocorax carbo,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/31433...,"No, none of these"
5658,314349484,c7f7af28-c04f-49a8-8645-73c4fe56ff2d,2025-08-30 14:43:13-04:00,2025-08-30,2025-08-30 18:43:13 UTC,Eastern Time (US & Canada),1703065,mpearlstein,mpearlstein,2025-09-16 14:39:19 UTC,...,Phyllosticta,NaN,Phyllosticta asiminae,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/31324...,Parasitism
5659,314417607,bf1ec111-2dd4-4b9c-97e4-b3c55f1c12c0,2025-09-15 18:12:08-04:00,2025-09-15,2025-09-15 22:12:08 UTC,Eastern Time (US & Canada),2378743,fuzzyspider,NaN,2025-09-16 20:03:01 UTC,...,Lycorma,NaN,Lycorma delicatula,NaN,NaN,NaN,NaN,organism being eaten,http://www.inaturalist.org/observations/314417917,"No, none of these"
5660,314417917,debbb691-2ccb-4687-8c0e-22c3b4388407,2025-09-15 18:12:21-04:00,2025-09-15,2025-09-15 22:12:21 UTC,Eastern Time (US & Canada),2378743,fuzzyspider,NaN,2025-09-16 20:04:29 UTC,...,Agelenopsis,NaN,NaN,NaN,NaN,NaN,NaN,eater,http://www.inaturalist.org/observations/314417607,"No, none of these"
5661,314661724,bbb7638b-c53d-44b2-b330-e59fd0aa37aa,2024/08/24 12:17,2024-08-24,2024-08-24 10:17:00 UTC,Paris,5543953,gcovain,GaÃ«l Covain,2025-09-17 21:29:15 UTC,...,Marpissa,NaN,Marpissa muscosa,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/31466...,"No, none of these"

In [11]:
df_r.isna().sum()

id                                                                0
uuid                                                              0
observed_on_string                                                0
observed_on                                                       0
time_observed_at                                                177
                                                               ...
taxon_variety_name                                             5631
taxon_form_name                                                5662
field:id meant for "eater" or organism being eaten?               3
field:url for "partner" observation                               0
field:is observation one of these special types of feeding?    1711
Length: 71, dtype: int64

In [12]:
df_r.loc[df_r['id'] == 19501898, 'field:id meant for "eater" or organism being eaten?'] = 'eater'
df_r.loc[df_r['id'] == 19501898]

df_r.loc[df_r['id'] == 44415193, 'field:id meant for "eater" or organism being eaten?'] = 'eater'
df_r.loc[df_r['id'] == 44415193]

df_r.loc[df_r['id'] == 67863970, 'field:id meant for "eater" or organism being eaten?'] = 'thing being eaten'
df_r.loc[df_r['id'] == 67863970]

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name,"field:id meant for ""eater"" or organism being eaten?","field:url for ""partner"" observation",field:is observation one of these special types of feeding?
869,67863970,b3ef07ec-bef7-4029-8ea8-257ddf78ab0d,2021/01/10 1:27 PM SAST,2021-01-10,2021-01-10 11:27:00 UTC,Pretoria,659922,magdastlucia,NaN,2021-01-10 18:26:34 UTC,...,Philothamnus,NaN,Philothamnus hoplogaster,NaN,NaN,NaN,NaN,thing being eaten,https://www.inaturalist.org/observations/67863969,NaN

In [13]:
#Store the partner_IDs from the partner observation column
pattern = r'(?:observations/)?(\d+)\b'

df_r['partner_ids'] = df_r[col].apply(lambda x: re.findall(pattern, x))

df_r[['partner_ids', col]]

      partner_ids                field:url for "partner" observation
0       [1766953]   https://www.inaturalist.org/observations/1766953
1        [414707]    https://www.inaturalist.org/observations/414707
2        [414645]    https://www.inaturalist.org/observations/414645
3      [66466718]  https://www.inaturalist.org/observations/66466718
4      [66466454]  https://www.inaturalist.org/observations/66466454
...           ...                                                ...
5657  [314331236]  https://www.inaturalist.org/observations/31433...
5658  [313240912]  https://www.inaturalist.org/observations/31324...
5659  [314417917]  http://www.inaturalist.org/observations/314417917
5660  [314417607]  http://www.inaturalist.org/observations/314417607
5661  [314662236]  https://www.inaturalist.org/observations/31466...

[5662 rows x 2 columns]

In [14]:
#normalize the role column
role_col = 'field:id meant for "eater" or organism being eaten?'

def normalize_role(val):
    s = str(val).strip().lower()
    if 'eater' in s or 'predator' in s:
        return 'predator'
    if (('thing' in s or 'organism' in s) and 'eaten' in s) or 'prey' in s:
        return 'prey'
    return pd.NA

df_r['role'] = df_r[role_col].apply(normalize_role) if role_col else pd.NA

df_r[["id", "partner_ids", role_col, "role"]]

,id,partner_ids,"field:id meant for ""eater"" or organism being eaten?",role
0,10686,[1766953],eater,predator
1,414645,[414707],eater,predator
2,414707,[414645],thing being eaten,prey
3,465679,[66466718],eater,predator
4,509046,[66466454],eater,predator
...,...,...,...,...
5657,314331232,[314331236],eater,predator
5658,314349484,[313240912],eater,predator
5659,314417607,[314417917],organism being eaten,prey
5660,314417917,[314417607],eater,predator
5661,314661724,[314662236],eater,predator

In [15]:
# df_r['partner_ids'] = filtered_df['partner_ids'].str.split(',')
expanded_df = df_r.explode('partner_ids').reset_index(drop=True)
expanded_df.shape

(5850, 73)

In [16]:
# expanded_df.to_csv('expanded_df.csv', index=False)

In [17]:
expanded_df['partner_id_split'] = pd.to_numeric(
    expanded_df['partner_ids'], errors='coerce'
).astype('Int64')

In [18]:
columns = [
    "uuid", "observed_on", "time_observed_at", "url", "image_url", "description",
    "place_guess", "latitude", "longitude", "place_town_name", "place_county_name",
    "place_state_name", "place_country_name", "special_type_of_feeding",
    "partner_observation_url", "partner_ids", "partner_id_split",
    "predator_id", "predator_scientific_name", "predator_common_name", "predator_iconic_taxon_name",
    "predator_taxon_id", "predator_taxon_species_name", "predator_taxon_kingdom_name",
    "predator_quality_grade", "prey_id", "prey_scientific_name", "prey_common_name",
    "prey_iconic_taxon_name", "prey_taxon_id", "prey_taxon_species_name",
    "prey_taxon_kingdom_name", "prey_quality_grade", "role"
]

final_df = pd.DataFrame(columns=columns)

In [19]:
final_df.columns

Index(['uuid', 'observed_on', 'time_observed_at', 'url', 'image_url',
       'description', 'place_guess', 'latitude', 'longitude',
       'place_town_name', 'place_county_name', 'place_state_name',
       'place_country_name', 'special_type_of_feeding',
       'partner_observation_url', 'partner_ids', 'partner_id_split',
       'predator_id', 'predator_scientific_name', 'predator_common_name',
       'predator_iconic_taxon_name', 'predator_taxon_id',
       'predator_taxon_species_name', 'predator_taxon_kingdom_name',
       'predator_quality_grade', 'prey_id', 'prey_scientific_name',
       'prey_common_name', 'prey_iconic_taxon_name', 'prey_taxon_id',
       'prey_taxon_species_name', 'prey_taxon_kingdom_name',
       'prey_quality_grade', 'role'],
      dtype='object')

In [20]:
rows = []
for index, row in expanded_df.iterrows():
    l=[]
    if pd.notna(row['role']) and row['role'] == 'predator':
        new_row = {
        "uuid": row['uuid'],
        "observed_on" : row['observed_on'],
        "time_observed_at": row['time_observed_at'],
        "url" : row['url'],
        "image_url" : row['image_url'],
        "description" : row['description'],
        "place_guess" : row['place_guess'],
        "latitude": row['latitude'],
        "longitude" : row['longitude'],
        "place_town_name" : row['place_town_name'],
        "place_county_name" : row['place_county_name'],
        "place_state_name" : row['place_state_name'],
        "place_country_name" : row['place_country_name'],
        "special_type_of_feeding" : row['field:is observation one of these special types of feeding?'],
        "partner_observation_url": row['field:url for "partner" observation'],
        "partner_ids" : row['partner_ids'],
        "partner_id_split": row['partner_id_split'],
        "predator_id" : row['id'],
        "predator_scientific_name" : row['scientific_name'],
        "predator_common_name": row['common_name'],
        "predator_iconic_taxon_name" : row['iconic_taxon_name'],
        "predator_taxon_id" : row["taxon_id"],
        "predator_taxon_species_name" : row["taxon_species_name"],
        "predator_taxon_kingdom_name" : row["taxon_kingdom_name"],
        "predator_quality_grade" : row["quality_grade"],
          "predator_role":row["role"]}

        x = DataDictionary[DataDictionary['id'] == row['partner_id_split']]

        if not x.empty:
            x = x.iloc[0]  # take the first match
            new_row['prey_id'] = x['id']
            new_row['prey_scientific_name'] = x['scientific_name']
            new_row['prey_common_name'] = x['common_name']
            new_row['prey_iconic_taxon_name'] = x['iconic_taxon_name']
            new_row["prey_taxon_id"] = x['taxon_id']
            new_row["prey_taxon_species_name"] = x['taxon_species_name']
            new_row["prey_taxon_kingdom_name"] = x['taxon_kingdom_name']
            new_row["prey_quality_grade"] = x['quality_grade']
            new_row["prey_taxon_phylum_name"] = x["taxon_phylum_name"]
            new_row["prey_taxon_subphylum_name"] = x["taxon_subphylum_name"]
            new_row["prey_taxon_class_name"] =  x["taxon_class_name"]
            new_row["prey_taxon_family_name"] = x["taxon_family_name"]
            new_row["prey_taxon_genus_name"] = x["taxon_genus_name"]

        else:
            # fallback if prey not found
            new_row['prey_id'] = None
            new_row['prey_scientific_name'] = None
            new_row['prey_common_name'] = None
            new_row['prey_iconic_taxon_name'] = None
            new_row["prey_taxon_id"] = None
            new_row["prey_taxon_species_name"] = None
            new_row["prey_taxon_kingdom_name"] = None
            new_row["prey_quality_grade"] = None
            new_row["taxon_phylum_name"] = None
            new_row["taxon_subphylum_name"] = None
            new_row["taxon_class_name"] =  None
            new_row["taxon_family_name"] = None
            new_row["taxon_genus_name"] = None

        # Append row to final dataframe
        #final_df = pd.concat([final_df, pd.DataFrame([new_row])], ignore_index=True)
        rows.append(new_row)

    elif pd.notna(row['role']) and row['role'] == 'prey':
        new_row = {
            "uuid": row['uuid'],
        "observed_on" : row['observed_on'],
        "time_observed_at": row['time_observed_at'],
        "url" : row['url'],
        "image_url" : row['image_url'],
        "description" : row['description'],
        "place_guess" : row['place_guess'],
        "latitude": row['latitude'],
        "longitude" : row['longitude'],
        "place_town_name" : row['place_town_name'],
        "place_county_name" : row['place_county_name'],
        "place_state_name" : row['place_state_name'],
        "place_country_name" : row['place_country_name'],
        "special_type_of_feeding" : row['field:is observation one of these special types of feeding?'],
        "partner_observation_url": row['field:url for "partner" observation'],
        "partner_ids" : row['partner_ids'],
        "partner_id_split": row['partner_id_split'],
        "prey_id" : row['id'],
        "prey_scientific_name" : row['scientific_name'],
        "prey_common_name": row['common_name'],
        "prey_iconic_taxon_name" : row['iconic_taxon_name'],
        "prey_taxon_id" : row["taxon_id"],
        "prey_taxon_species_name" : row["taxon_species_name"],
        "prey_taxon_kingdom_name" : row["taxon_kingdom_name"],
        "prey_quality_grade" : row["quality_grade"],
         "prey_role": row["role"]   }

        x = DataDictionary[DataDictionary['id'] == row['partner_id_split']]

        if not x.empty:
            x = x.iloc[0]  # take the first match
            new_row['predator_id'] = x['id']
            new_row['predatorscientific_name'] = x['scientific_name']
            new_row['predator_common_name'] = x['common_name']
            new_row['predator_iconic_taxon_name'] = x['iconic_taxon_name']
            new_row["predator_taxon_id"] = x['taxon_id']
            new_row["predator_taxon_species_name"] = x['taxon_species_name']
            new_row["predator_taxon_kingdom_name"] = x['taxon_kingdom_name']
            new_row["predator_quality_grade"] = x['quality_grade']
            new_row["predator_taxon_phylum_name"] = x["taxon_phylum_name"]
            new_row["predator_taxon_subphylum_name"] = x["taxon_subphylum_name"]
            new_row["predator_taxon_class_name"] =  x["taxon_class_name"]
            new_row["predator_taxon_family_name"] = x["taxon_family_name"]
            new_row["predator_taxon_genus_name"] = x["taxon_genus_name"]
        else:
            # fallback if prey not found
            new_row['predator_id'] = None
            new_row['predator_scientific_name'] = None
            new_row['predator_common_name'] = None
            new_row['predator_iconic_taxon_name'] = None
            new_row["predator_taxon_id"] = None
            new_row["predator_taxon_species_name"] = None
            new_row["predator_taxon_kingdom_name"] = None
            new_row["predator_quality_grade"] = None
            new_row["predator_taxon_phylum_name"] = None
            new_row["predator_taxon_subphylum_name"] = None
            new_row["predator_taxon_class_name"] =  None
            new_row["predator_taxon_family_name"] = None
            new_row["predator_taxon_genus_name"] = None

        rows.append(new_row)
        # Append row to final dataframe
final_df = pd.DataFrame(rows, columns=columns)

In [21]:
final_df.to_csv('final_df.csv', index=False)

In [22]:
final_df["predator_quality_grade"].unique()

array(['research', None, 'needs_id', 'casual'], dtype=object)

In [23]:
final_df["prey_quality_grade"].unique()

array(['research', 'needs_id', 'casual', None], dtype=object)

In [24]:
check=final_df[(final_df["predator_id"]==28163598) | (final_df["prey_id"]==28163598)]
check[["predator_id",'prey_id','predator_quality_grade','prey_quality_grade',"predator_scientific_name"]]
# final_df.columns

,predator_id,prey_id,predator_quality_grade,prey_quality_grade,predator_scientific_name
200,19066016.0,28163598.0,research,casual,Stenocoris apicalis
214,19691820.0,28163598.0,research,casual,Cletoliturus lituripennis
215,19729981.0,28163598.0,research,casual,Senaspis haemorrhoa

In [25]:
check.iloc[0,:]

uuid                                        f0c4b9a7-62ed-48d6-b724-5cc212b37d86
observed_on                                                           2018-12-17
time_observed_at                                         2018-12-17 13:26:00 UTC
url                            https://www.inaturalist.org/observations/19066016
image_url                      https://inaturalist-open-data.s3.amazonaws.com...
description                                                                  NaN
place_guess                                                     Harare, Zimbabwe
latitude                                                              -17.811418
longitude                                                              31.081288
place_town_name                                                              NaN
place_county_name                                                         Harare
place_state_name                                                          Harare
place_country_name                                                      Zimbabwe
special_type_of_feeding                                                      NaN
partner_observation_url        https://www.inaturalist.org/observations/28163598
partner_ids                                                             28163598
partner_id_split                                                        28163598
predator_id                                                           19066016.0
predator_scientific_name                                     Stenocoris apicalis
predator_common_name                                                         NaN
predator_iconic_taxon_name                                               Insecta
predator_taxon_id                                                       481167.0
predator_taxon_species_name                                  Stenocoris apicalis
predator_taxon_kingdom_name                                             Animalia
predator_quality_grade                                                  research
prey_id                                                               28163598.0
prey_scientific_name                                        Cotoneaster pannosus
prey_common_name                                          silverleaf cotoneaster
prey_iconic_taxon_name                                                   Plantae
prey_taxon_id                                                            53375.0
prey_taxon_species_name                                     Cotoneaster pannosus
prey_taxon_kingdom_name                                                  Plantae
prey_quality_grade                                                        casual
role                                                                         NaN
Name: 200, dtype: object

In [26]:
check=final_df[(final_df["predator_quality_grade"]!="research") & (final_df["prey_quality_grade"]!="research")]
check[["predator_id",'prey_id','predator_quality_grade','prey_quality_grade',"predator_scientific_name"]]

Empty DataFrame
Columns: [predator_id, prey_id, predator_quality_grade, prey_quality_grade, predator_scientific_name]
Index: []

In [27]:
null_df=final_df[(final_df["predator_id"].isna()) | (final_df["prey_id"].isna())]
null_df[["predator_id",'prey_id','predator_quality_grade','prey_quality_grade',"predator_scientific_name"]]

,predator_id,prey_id,predator_quality_grade,prey_quality_grade,predator_scientific_name
22,1031728.0,NaN,research,None,Kobus ellipsiprymnus
36,NaN,1560560.0,None,research,None
52,NaN,4150874.0,None,research,None
67,NaN,6048862.0,None,research,None
84,NaN,8691364.0,None,research,None
...,...,...,...,...,...
5612,305240910.0,NaN,research,None,Phyllosticta asiminae
5634,NaN,306103618.0,None,research,None
5688,NaN,307754609.0,None,research,None
5709,NaN,308287177.0,None,research,None
5714,308542062.0,NaN,research,None,Pseudocercospora fuliginosa

In [28]:
null_df.to_csv('null_df.csv', index=False)

In [29]:
final_df.isna().sum()

uuid                              0
observed_on                       0
time_observed_at                179
url                               0
image_url                         0
description                    3132
place_guess                      26
latitude                          7
longitude                         7
place_town_name                5472
place_county_name                80
place_state_name                 15
place_country_name               15
special_type_of_feeding        1845
partner_observation_url           0
partner_ids                       0
partner_id_split                  0
predator_id                      71
predator_scientific_name       2438
predator_common_name            828
predator_iconic_taxon_name       73
predator_taxon_id                72
predator_taxon_species_name     669
predator_taxon_kingdom_name      73
predator_quality_grade           71
prey_id                         219
prey_scientific_name            223
prey_common_name                558
prey_iconic_taxon_name          219
prey_taxon_id                   219
prey_taxon_species_name        1189
prey_taxon_kingdom_name         219
prey_quality_grade              219
role                           5850
dtype: int64

In [30]:
obs_df=final_df[(final_df["predator_id"].notna()) & (final_df["prey_id"].notna())]
obs_df[["predator_id",'prey_id','predator_quality_grade','prey_quality_grade',"predator_scientific_name"]]

,predator_id,prey_id,predator_quality_grade,prey_quality_grade,predator_scientific_name
0,10686.0,1766953.0,research,research,Mus musculus
1,414645.0,414707.0,research,research,Lycophidion capense
2,414645.0,414707.0,research,research,NaN
3,465679.0,66466718.0,research,needs_id,Lutra capensis capensis
4,509046.0,66466454.0,research,research,Dendroaspis polylepis
...,...,...,...,...,...
5845,314331232.0,314331236.0,research,needs_id,Phalacrocorax carbo
5846,314349484.0,313240912.0,research,research,Phyllosticta asiminae
5847,314417917.0,314417607.0,research,research,NaN
5848,314417917.0,314417607.0,research,research,Agelenopsis
5849,314661724.0,314662236.0,research,needs_id,Marpissa muscosa

In [31]:
obs_df.to_csv('obs_df.csv', index=False)

In [32]:
obs_df.shape

(5560, 34)

In [33]:
obs_df["predator_iconic_taxon_name"].unique()

array(['Mammalia', 'Reptilia', 'Insecta', 'Aves', 'Arachnida', 'Plantae',
       'Mollusca', 'Animalia', 'Actinopterygii', 'Amphibia', 'Fungi',
       'Chromista', nan], dtype=object)

Since Plantae, Fungi and Chromista are not mostly predators, we need to validate the data

In [40]:
taxons_to_select = ['Plantae', 'Fungi', 'Chromista']
non_predator_df = obs_df[obs_df['predator_iconic_taxon_name'].isin(taxons_to_select)]

display(non_predator_df["predator_iconic_taxon_name"].unique())
display(f"Shape of the filtered DataFrame: {non_predator_df.shape}")

array(['Plantae', 'Fungi', 'Chromista'], dtype=object)

'Shape of the filtered DataFrame: (347, 34)'

In [41]:
non_predator_df.to_csv('non_predator_df.csv', index=False)

In [43]:
self_eating = obs_df[(obs_df['predator_scientific_name']==obs_df['prey_scientific_name'])]
self_eating

,uuid,observed_on,time_observed_at,url,image_url,description,place_guess,latitude,longitude,place_town_name,...,predator_quality_grade,prey_id,prey_scientific_name,prey_common_name,prey_iconic_taxon_name,prey_taxon_id,prey_taxon_species_name,prey_taxon_kingdom_name,prey_quality_grade,role
104,e0f22f3f-4fdc-47a0-bdf5-eb8777b0ef61,2018-01-18,2018-01-18 20:04:01 UTC,https://www.inaturalist.org/observations/9522897,https://static.inaturalist.org/photos/12983778...,Shrike kill (Brown anole) impaled on a rose thorn,"8501 Spencer Hwy, Deer Park, TX, US",29.669595,-95.106311,NaN,...,research,9522897.0,Lanius ludovicianus,Loggerhead Shrike,Aves,12024.0,Lanius ludovicianus,Animalia,research,NaN
203,f14002b1-86df-4690-aaa3-c51498464e5b,2018-12-28,2018-12-28 21:29:00 UTC,https://www.inaturalist.org/observations/19277228,https://inaturalist-open-data.s3.amazonaws.com...,With fish in its talons.,"Crystal River, FL, USA",28.907335,-82.626961,NaN,...,research,19277228.0,Pandion haliaetus,Osprey,Aves,116999.0,Pandion haliaetus,Animalia,research,NaN
257,064d87e5-6e6a-4cd8-b815-f320ac781445,2019-05-15,2019-05-15 11:52:00 UTC,https://www.inaturalist.org/observations/25191260,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Langstaff, Markham, ON L3T, Canada",43.830669,-79.411868,NaN,...,research,25189764.0,Sciurus carolinensis,Eastern Gray Squirrel,Mammalia,46017.0,Sciurus carolinensis,Animalia,research,NaN
272,9254cb05-1e40-4b82-9e03-8013f55d7ec9,2019-07-06,2019-07-06 10:36:00 UTC,https://www.inaturalist.org/observations/28488105,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Harare, Zimbabwe",-17.811561,31.080891,NaN,...,research,28488105.0,Turdus libonyana,Kurrichane Thrush,Aves,201216.0,Turdus libonyana,Animalia,research,NaN
297,7314188c-5838-450b-a8ca-cefa479dbf25,2019-09-14,2019-09-14 07:25:00 UTC,https://www.inaturalist.org/observations/32936654,https://inaturalist-open-data.s3.amazonaws.com...,pride of 8 young adults predated a warthog,"Hurungwe, ZW-MW, ZW",-16.174529,29.552918,NaN,...,research,32936654.0,Panthera leo melanochaita,Southern Lion,Mammalia,557401.0,Panthera leo,Animalia,research,NaN
333,8e2a5182-9c60-4941-a049-bf7c7c7f5267,2019-09-21,2019-09-21 18:55:00 UTC,https://www.inaturalist.org/observations/39174754,https://static.inaturalist.org/photos/62114944...,Eating a much larger unidentified scorpion.\r\...,"Uthukela DC, South Africa",-28.846658,29.988722,NaN,...,research,224658582.0,Uroplectes triangulifer,Highveld Lesser-Thicktail Scorpion,Arachnida,490718.0,Uroplectes triangulifer,Animalia,research,NaN
536,cda00ea7-ecd6-4c98-b3b2-90e075fc0576,2020-10-05,2020-10-05 14:20:00 UTC,https://www.inaturalist.org/observations/61881019,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Harare, Zimbabwe",-17.811576,31.080917,NaN,...,research,61881019.0,Hasarius adansoni,Adanson's House Jumper,Arachnida,347886.0,Hasarius adansoni,Animalia,research,NaN
543,66cea4da-79f5-42dc-b9c4-e8559b8e2e4a,2020-10-11,2020-10-11 05:05:00 UTC,https://www.inaturalist.org/observations/62278764,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"South Cape DC, South Africa",-33.921667,22.055278,NaN,...,research,182451840.0,Afrorhytida kraussi kraussi,NaN,Mollusca,1104024.0,Afrorhytida kraussi,Animalia,research,NaN
661,c2f4874b-6967-4096-a7d1-5ff7902e668f,2020-12-08,2020-12-08 10:18:00 UTC,https://www.inaturalist.org/observations/66298610,https://inaturalist-open-data.s3.amazonaws.com...,NaN,Garden Route Botanical Garden,-33.946765,22.464515,NaN,...,research,66298610.0,Halcyon albiventris albiventris,Southern Brown-hooded Kingfisher,Aves,625887.0,Halcyon albiventris,Animalia,research,NaN
712,63ad254e-d0aa-4ae8-9dee-fb5450645105,2020-12-13,2020-12-13 07:35:00 UTC,https://www.inaturalist.org/observations/66515966,https://inaturalist-open-data.s3.amazonaws.com...,NaN,Garden Route Botanical Garden,-33.946974,22.464531,NaN,...,research,66515966.0,Halcyon albiventris albiventris,Southern Brown-hooded Kingfisher,Aves,625887.0,Halcyon albiventris,Animalia,research,NaN
721,18f6d5fe-0515-4a3d-93d2-5f71f4ddb657,2020-12-13,2020-12-13 10:48:00 UTC,https://www.inaturalist.org/observations/66521434,https://inaturalist-open-data.s3.amazonaws.com...,For what the bird was about to feed chicks,Garden Route Botanical Garden,-33.946974,22.464515,NaN,...,research,66521434.0,Tetradactylus seps,Short-legged Seps,Reptilia,34724.0,Tetradactylus seps,Animalia,research,NaN
1011,c70337eb-3db2-46b0-887b-2f362c62f43c,2021-03-09,2021-03-09 07:09:00 UTC,https://www.inaturalist.org/observations/70876023,https://inaturalist-open-data.s3.amazonaws.com...,NaN,Garden Route Botanical Garden,-33.942102,22.462575,NaN,...,research,70876023.0,Dicrurus adsimilis adsimilis,Coastal Fork-tailed Drongo,Aves,566787.0,Dicrurus adsimilis,Animalia,research,NaN
1204,d633897a-cf39-44c0-a23c-041ab804755e,2021-05-13,2021-05-13 12:05:13 UTC,https://www.inaturalist.org/observations/78598722,https://static.inaturalist.org/photos/12864982...,NaN,"16440 Sireuil, France",45.616032,0.005088,NaN,...,research,197527384.0,Synema globosum,Napoleon Spider,Arachnida,245656.0,Synema globosum,Animalia,research,NaN
1445,ea5537cd-12a2-457d-ba71-14d207e68e38,2021-08-16,2021-08-16 21:24:16 UTC,https://www.inaturalist.org/observations/91588552,https://inaturalist-open-data.s3.amazonaws.com...,https://vimeo.com/588572568\nEating what seeme...,"Farrington Rd, Durham, NC, US",35.908638,-78.980422,NaN,...,research,91588952.0,Harmonia axyridis,Asian Lady Beetle,Insecta,48484.0,Harmonia axyridis,Animalia,research,NaN
2167,52bd6241-3f30-4f92-ace1-656c4e95ebfa,2022-09-19,NaN,https://www.inaturalist.org/observations/13729...,https://inaturalist-open-data.s3.amazonaws.com...,Camera trap capture of bobcat carrying dead ea...,"Massachusetts, US",42.314652,-71.679525,NaN,...,research,137288684.0,Lynx rufus,Bobcat,Mammalia,41976.0,Lynx rufus,Animalia,research,NaN
2168,6f46d2fc-bce0-4285-9166-dab67f3b525b,2022-06-13,2022-06-14 01:21:00 UTC,https://www.inaturalist.org/observations/13739...,https://inaturalist-open-data.s3.amazonaws.com...,This Red-shouldered Bug adult was cannibalizin...,"North Redlands, Redlands, CA, USA",34.063279,-117.162013,NaN,...,research,137390149.0,Jadera haematoloma,Red-shouldered Bug,Insecta,127669.0,Jadera haematoloma,Animalia,research,NaN
2171,fdcec7e5-3e26-440a-917b-f063f844686c,2022-06-13,2022-06-14 01:21:00 UTC,https://www.inaturalist.org/observations/13739...,https://inaturalist-open-data.s3.amazonaws.com...,This Red-shouldered Bug nymph was cannibalizin...,"North Redlands, Redlands, CA, USA",34.063282,-117.162020,NaN,...,research,137390152.0,Jadera haematoloma,Red-shouldered Bug,Insecta,127669.0,Jadera haematoloma,Animalia,research,NaN
2181,a45443ba-606c-4ae5-816a-c41917337cdd,2022-10-08,2022-10-08 14:42:00 UTC,https://www.inaturalist.org/observations/13803...,https://inaturalist-open-data.s3.amazonaws.com...,I would not mess with this anole...,"Miami-Dade County, FL, USA",25.382318,-80.607451,NaN,...,research,185235593.0,Anolis sagrei,Brown Anole,Reptilia,116461.0,Anolis sagrei,Animalia,research,NaN
2455,3735a693-9d4c-4bdb-b6ff-815c7d461f0d,2019-09-27,2019-09-28 03:16:00 UTC,https://www.inaturalist.org/observations/15064...,https://inaturalist-open-data.s3.amazonaws.com...,This Lady Beetle larva was cannibalizing Lady ...,"North Redlands, Redlands, CA, USA",34.064044,-117.162428,NaN,...,research,150648403.0,Harmonia axyridis,Asian Lady Beetle,Insecta,48484.0,Harmonia axyridis,Animalia,research,NaN
2810,68445a25-e0bf-4e4a-b64c-13668de2232e,2023-08-13,2023-08-13 19:24:00 UTC,https://www.inaturalist.org/observations/17828...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Coal Creek Canyon, CO 80403, USA",39.858734,-105.385919,NaN,...,research,178284857.0,Hyles lineata,White-lined Sphinx,Insecta,49348.0,Hyles lineata,Animalia,research,NaN
2851,a7768bc4-ec45-41da-b83b-183781e981a8,2023-08-29,2023-08-29 16:34:00 UTC,https://www.inaturalist.org/observations/18081...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Mandeville, LA, USA",30.392649,-90.120347,NaN,...,research,180814880.0,Erythemis simplicicollis,Eastern Pondhawk,Insecta,61495.0,Erythemis simplicicollis,Animalia,research,NaN
2999,158f0a81-a0a4-48fe-b499-f7e8f3211110,2022-07-25,2022-07-25 07:08:17 UTC,https://www.inaturalist.org/observations/18734...,https://static.inaturalist.org/photos/32760452...,Cannibalism,"Camerota SA, Italia",39.997674,15.424922,NaN,...,research,187342840.0,Podarcis siculus,Italian Wall Lizard,Reptilia,337045.0,Podarcis siculus,Animalia,research,NaN
3115,00548437-8d04-462a-b6ee-d0e7fc84cafd,2023-10-29,2023-10-29 12:42:00 UTC,https://www.inaturalist.org/observations/18936...,https://static.inaturalist.org/photos/33170120...,NaN,"Gardendale, AL, USA",33.650758,-86.822525,NaN,...,research,189363077.0,Kukulcania hibernalis,Southern House Spider,Arachnida,122357.0,Kukulcania hibernalis,Animalia,research,NaN
3253,3954989d-2013-4e41-b6d5-71a06d68409c,2023-12-16,2023-12-17 03:08:34 UTC,https://www.inaturalist.org/observations/19423...,https://inaturalist-open-data.s3.amazonaws.com...,Cannibalism! Finally caught them in the act! T...,"New York, US",40.972258,-73.835296,NaN,...,research,196790659.0,Tachycines asynamorus,Greenhouse Camel Cricket,Insecta,767707.0,Tachycines asynamorus,Animalia,research,NaN
3406,8e715e90-9395-43d7-b3fb-960de0bbea76,2024-02-25,2024-02-25 21:55:30 UTC,https://www.inaturalist.org/observations/20048...,https://static.inaturalist.org/photos/35372912...,Eating a crab,"Port Moody, BC, Canada",49.283284,-122.849823,NaN,...,research,200484106.0,Bucephala clangula,Common Goldeneye,Aves,6990.0,Bucephala clangula,Animalia,research,NaN
3768,0134f7d9-bd96-4629-bab3-56f424b1ba63,2024-05-27,2024-05-27 14:57:00 UTC,https://www.inaturalist.org/observations/21884...,https://inaturalist-open-data.s3.amazonaws.com...,Larve frisst Puppe - larva eats pupa,"22 Norderstedt, Deutschland",53.687346,10.007672,NaN,...,research,218843142.0,Harmonia axyridis,Asian Lady Beetle,Insecta,48484.0,Harmonia axyridis,Animalia,research,NaN
3857,25cb58c1-3f05-4aa5-816c-4c46dba0a8b3,2024-06-08,2024-06-08 15:45:00 UTC,https://www.inaturalist.org/observations/22234...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Cedar Crest, Lakewood, CO 80215, USA",39.730417,-105.112137,NaN,...,research,222344073.0,Toxomerus marginatus,Margined Calligrapher,Insecta,126889.0,Toxomerus marginatus,Animalia,research,NaN
4006,d6490bee-c4ee-4524-b500-cf73b4368001,2024-07-17,2024-07-17 16:51:00 UTC,https://www.inaturalist.org/observations/22997...,https://static.inaturalist.org/photos/40829107...,NaN,"Redmont Park, Birmingham, AL, USA",33.487734,-86.779774,NaN,...,research,229978826.0,Euthyrhynchus floridanus,Florida Predatory Stink Bug,Insecta,119873.0,Euthyrhynchus floridanus,Animalia,research,NaN
4211,2d1edfdf-4f92-495a-8de7-e447e0b47d90,2024-09-08,2024-09-08 22:14:34 UTC,https://www.inaturalist.org/observations/24090...,https://static.inaturalist.org/photos/42927819...,NaN,"Old River Trail, Powhatan, VA, US",37.658967,-77.924447,NaN,...,research,240907528.0,Misumenoides formosipes,White-banded Crab Spider,Arachnida,62035.0,Misumenoides formosipes,Animalia,research,NaN
4466,0e229c3d-ce78-4dca-8a5e-82ce019542d6,2024-10-20,2024-10-20 19:53:00 UTC,https://www.inaturalist.org/observations/25180...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Tompkins County, NY, USA",42.455803,-76.454941,NaN,...,research,251802590.0,Scathophaga,NaN,Insecta,68718.0,NaN,Animalia,research,NaN
4781,2f4bb464-9cb2-419d-9fd0-16bc77f9d71c,2009-09-16,2009-09-16 21:03:00 UTC,https://www.inaturalist.org/observations/26615...,https://inaturalist-open-data.s3.amazonaws.com...,observation is for the female,"Illinois, US",41.888093,-87.972410,NaN,...,research,266155695.0,Araneus diadematus,Cross Orbweaver,Arachnida,52628.0,Araneus diadematus,Animalia,research,NaN
4839,7f5d259c-fd3e-45fc-b50f-99aaeb5c8b0f,2025-04-10,2025-04-10 18:39:00 UTC,https://www.inaturalist.org/observations/26973...,https://inaturalist-open-data.s3.amazonaws.com...,A Black Oystercatcher with a greenish polychae...,"Jefferson County, WA, USA",48.139887,-122.799918,NaN,...,research,269731499.0,Haematopus bachmani,Black Oystercatcher,Aves,4838.0,Haematopus bachmani,Animalia,research,NaN
5161,a4d58412-52dc-4935-a6cc-bb2b15611552,2025-06-14,2025-06-14 08:13:00 UTC,https://www.inaturalist.org/observations/28960...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Cardiff, UK",51.519828,-3.243329,NaN,...,research,289605155.0,Alcedo atthis,Common Kingfisher,Aves,2599.0,Alcedo atthis,Animalia,research,NaN
5188,2a7ca0b5-ab32-4017-bb0a-b37fc65be551,2025-06-01,2025-06-01 11:15:00 UTC,https://www.inaturalist.org/observations/29120...,https://inaturalist-open-data.s3.amazonaws.com...,Egg predation,"Isle of May, Fife, UK",56.183469,-2.554309,NaN,...,research,291208225.0,Larus fuscus,Lesser Black-backed Gull,Aves,4381.0,Larus fuscus,Animalia,research,NaN
5779,a4e8f928-0dd4-42be-ba7b-10d63174ba6d,2023-05-01,2023-05-01 09:51:02 UTC,https://www.inaturalist.org/observations/31100...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"44-230 Czerwionka-Leszczyny, Polska",50.165263,18.657971,NaN,...,research,311005687.0,Apis mellifera,Western Honey Bee,Insecta,47219.0,Apis mellifera,Animalia,research,NaN
5783,3942c34b-633e-4e28-b2ee-b172ca1f5003,2025-08-24,2025-08-24 19:01:00 UTC,https://www.inaturalist.org/observations/31107...,https://inaturalist-open-data.s3.amazonaws.com...,NaN,"Monroe County, NY, USA",43.367215,-77.960356,NaN,...,research,311076518.0,Diabrotica undecimpunctata,Spotted Cucumber Beetle,Insecta,55487.0,Diabrotica undecimpunctata,Animalia,research,NaN

In [45]:
self_eating.to_csv('self_eating.csv', index=False)