# Section for importing libraries

In [244]:

import pandas as pd
import re
from pathlib import Path

# Importing the Dataset
This is pulled from the inaturalist who-eats-whom project - only research grade filtered out

In [245]:
data_path = Path('Data/Dataset-1-2-26.csv')

if data_path.exists():
	df_whole = pd.read_csv(data_path)
else:
	raise FileNotFoundError(f"The file {data_path} does not exist. Please check the path.")

C:\Users\surab\AppData\Local\Temp\ipykernel_32908\2615442943.py:4: DtypeWarning: Columns (15,47,56,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df_whole = pd.read_csv(data_path)

In [246]:
df_whole.head()

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,taxon_genus_name,taxon_genushybrid_name,taxon_species_name,taxon_hybrid_name,taxon_subspecies_name,taxon_variety_name,taxon_form_name,"field:id meant for ""eater"" or organism being eaten?","field:url for ""partner"" observation",field:is observation one of these special types of feeding?
0,10686,6662b18b-6343-460b-90e8-d494df9766e8,2006-07-01,2006-07-01,NaN,Eastern Time (US & Canada),520,johnnybirder,Johnny Wilson,2011-01-30 15:03:49 +0000,...,Mus,NaN,Mus musculus,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/1766953,"No, none of these"
1,338604,c127ae38-c311-40bb-bc5f-2e48d8e02c59,2012-08-19 8:00 AM,2012-08-19,2012-08-19 13:00:00 +0000,Central Time (US & Canada),17056,fvaldesp_tutor,Francisco Valdes Perezgasga,2013-07-19 22:24:55 +0000,...,Geococcyx,NaN,Geococcyx californianus,NaN,NaN,NaN,NaN,eater,NaN,"No, none of these"
2,414645,8900f5f2-3c54-4397-b215-7033ab0c0e4b,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:14:16 +0000,...,Lycophidion,NaN,Lycophidion capense,NaN,NaN,NaN,NaN,eater,https://www.inaturalist.org/observations/414707,NaN
3,414707,f71bf6a5-7cc2-49c3-b5dd-df5716f5cb32,1988-07-13,1988-07-13,NaN,Harare,23072,i_c_riddell,NaN,2013-10-02 08:47:17 +0000,...,Mochlus,NaN,Mochlus sundevallii,NaN,NaN,NaN,NaN,thing being eaten,https://www.inaturalist.org/observations/414645,NaN
4,420386,56bf357d-9c01-4e0a-8cdb-a4f7aa548081,2013-10-06 15:10:40,2013-10-06,2013-10-06 19:10:40 +0000,Eastern Time (US & Canada),12796,scadwell,Suzanne Cadwell,2013-10-06 22:55:37 +0000,...,Lampropeltis,NaN,Lampropeltis getula,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [247]:
df_whole.columns

Index(['id', 'uuid', 'observed_on_string', 'observed_on', 'time_observed_at',
       'time_zone', 'user_id', 'user_login', 'user_name', 'created_at',
       'updated_at', 'quality_grade', 'license', 'url', 'image_url',
       'sound_url', 'tag_list', 'description', 'num_identification_agreements',
       'num_identification_disagreements', 'captive_cultivated',
       'oauth_application_id', 'place_guess', 'latitude', 'longitude',
       'positional_accuracy', 'private_place_guess', 'private_latitude',
       'private_longitude', 'public_positional_accuracy', 'geoprivacy',
       'taxon_geoprivacy', 'coordinates_obscured', 'positioning_method',
       'positioning_device', 'place_town_name', 'place_county_name',
       'place_state_name', 'place_country_name', 'species_guess',
       'scientific_name', 'common_name', 'iconic_taxon_name', 'taxon_id',
       'taxon_kingdom_name', 'taxon_phylum_name', 'taxon_subphylum_name',
       'taxon_superclass_name', 'taxon_class_name', 'taxon_subclass_name',
       'taxon_superorder_name', 'taxon_order_name', 'taxon_suborder_name',
       'taxon_superfamily_name', 'taxon_family_name', 'taxon_subfamily_name',
       'taxon_supertribe_name', 'taxon_tribe_name', 'taxon_subtribe_name',
       'taxon_genus_name', 'taxon_genushybrid_name', 'taxon_species_name',
       'taxon_hybrid_name', 'taxon_subspecies_name', 'taxon_variety_name',
       'taxon_form_name',
       'field:id meant for "eater" or organism being eaten?',
       'field:url for "partner" observation',
       'field:is observation one of these special types of feeding?'],
      dtype='object')

In [248]:
df_whole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8352 entries, 0 to 8351
Data columns (total 69 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   id                                                           8352 non-null   int64
 1   uuid                                                         8352 non-null   object
 2   observed_on_string                                           8352 non-null   object
 3   observed_on                                                  8352 non-null   object
 4   time_observed_at                                             7818 non-null   object
 5   time_zone                                                    8352 non-null   object
 6   user_id                                                      8352 non-null   int64
 7   user_login                                                   8352 non-null   object
 8   user_name                                                    5628 non-null   object
 9   created_at                                                   8352 non-null   object
 10  updated_at                                                   8352 non-null   object
 11  quality_grade                                                8352 non-null   object
 12  license                                                      7541 non-null   object
 13  url                                                          8352 non-null   object
 14  image_url                                                    8352 non-null   object
 15  sound_url                                                    19 non-null     object
 16  tag_list                                                     959 non-null    object
 17  description                                                  3471 non-null   object
 18  num_identification_agreements                                8352 non-null   int64
 19  num_identification_disagreements                             8352 non-null   int64
 20  captive_cultivated                                           8352 non-null   bool
 21  oauth_application_id                                         2358 non-null   float64
 22  place_guess                                                  8297 non-null   object
 23  latitude                                                     8334 non-null   float64
 24  longitude                                                    8334 non-null   float64
 25  positional_accuracy                                          6791 non-null   float64
 26  private_place_guess                                          0 non-null      float64
 27  private_latitude                                             0 non-null      float64
 28  private_longitude                                            0 non-null      float64
 29  public_positional_accuracy                                   6912 non-null   float64
 30  geoprivacy                                                   602 non-null    object
 31  taxon_geoprivacy                                             4811 non-null   object
 32  coordinates_obscured                                         8352 non-null   bool
 33  positioning_method                                           749 non-null    object
 34  positioning_device                                           772 non-null    object
 35  place_town_name                                              665 non-null    object
 36  place_county_name                                            8213 non-null   object
 37  place_state_name                                             8320 non-null   object
 38  place_country_name                                           8323 non-null   object
 39  species_guess                                                8349 non-null   object
 40  scientific_name                                              8351 non-null   object
 41  common_name                                                  7622 non-null   object
 42  iconic_taxon_name                                            8351 non-null   object
 43  taxon_id                                                     8352 non-null   int64
 44  taxon_kingdom_name                                           8352 non-null   object
 45  taxon_phylum_name                                            8352 non-null   object
 46  taxon_subphylum_name                                         8254 non-null   object
 47  taxon_superclass_name                                        77 non-null     object
 48  taxon_class_name                                             8334 non-null   object
 49  taxon_subclass_name                                          2985 non-null   object
 50  taxon_superorder_name                                        959 non-null    object
 51  taxon_order_name                                             8341 non-null   object
 52  taxon_suborder_name                                          3063 non-null   object
 53  taxon_superfamily_name                                       2730 non-null   object
 54  taxon_family_name                                            8349 non-null   object
 55  taxon_subfamily_name                                         4890 non-null   object
 56  taxon_supertribe_name                                        20 non-null     object
 57  taxon_tribe_name                                             2906 non-null   object
 58  taxon_subtribe_name                                          795 non-null    object
 59  taxon_genus_name                                             8338 non-null   object
 60  taxon_genushybrid_name                                       0 non-null      float64
 61  taxon_species_name                                           8200 non-null   object
 62  taxon_hybrid_name                                            38 non-null     object
 63  taxon_subspecies_name                                        893 non-null    object
 64  taxon_variety_name                                           41 non-null     object
 65  taxon_form_name                                              3 non-null      object
 66  field:id meant for "eater" or organism being eaten?          8177 non-null   object
 67  field:url for "partner" observation                          6282 non-null   object
 68  field:is observation one of these special types of feeding?  6301 non-null   object
dtypes: bool(2), float64(9), int64(5), object(53)
memory usage: 4.3+ MB

In [249]:
DataDictionary = df_whole.copy()

In [250]:
#dropping unnecessary columns
DataDictionary.drop(['uuid', 'observed_on_string','time_observed_at','user_id','user_login','user_name', 'quality_grade',
               'created_at','updated_at','license','tag_list', 'oauth_application_id','private_place_guess',
               'private_latitude', 'private_longitude', 'geoprivacy', 'taxon_geoprivacy',
               'coordinates_obscured', 'positioning_method', 'positioning_device','taxon_id'], 
               axis=1, inplace=True)

In [251]:
DataDictionary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8352 entries, 0 to 8351
Data columns (total 48 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   id                                                           8352 non-null   int64
 1   observed_on                                                  8352 non-null   object
 2   time_zone                                                    8352 non-null   object
 3   url                                                          8352 non-null   object
 4   image_url                                                    8352 non-null   object
 5   sound_url                                                    19 non-null     object
 6   description                                                  3471 non-null   object
 7   num_identification_agreements                                8352 non-null   int64
 8   num_identification_disagreements                             8352 non-null   int64
 9   captive_cultivated                                           8352 non-null   bool
 10  place_guess                                                  8297 non-null   object
 11  latitude                                                     8334 non-null   float64
 12  longitude                                                    8334 non-null   float64
 13  positional_accuracy                                          6791 non-null   float64
 14  public_positional_accuracy                                   6912 non-null   float64
 15  place_town_name                                              665 non-null    object
 16  place_county_name                                            8213 non-null   object
 17  place_state_name                                             8320 non-null   object
 18  place_country_name                                           8323 non-null   object
 19  species_guess                                                8349 non-null   object
 20  scientific_name                                              8351 non-null   object
 21  common_name                                                  7622 non-null   object
 22  iconic_taxon_name                                            8351 non-null   object
 23  taxon_kingdom_name                                           8352 non-null   object
 24  taxon_phylum_name                                            8352 non-null   object
 25  taxon_subphylum_name                                         8254 non-null   object
 26  taxon_superclass_name                                        77 non-null     object
 27  taxon_class_name                                             8334 non-null   object
 28  taxon_subclass_name                                          2985 non-null   object
 29  taxon_superorder_name                                        959 non-null    object
 30  taxon_order_name                                             8341 non-null   object
 31  taxon_suborder_name                                          3063 non-null   object
 32  taxon_superfamily_name                                       2730 non-null   object
 33  taxon_family_name                                            8349 non-null   object
 34  taxon_subfamily_name                                         4890 non-null   object
 35  taxon_supertribe_name                                        20 non-null     object
 36  taxon_tribe_name                                             2906 non-null   object
 37  taxon_subtribe_name                                          795 non-null    object
 38  taxon_genus_name                                             8338 non-null   object
 39  taxon_genushybrid_name                                       0 non-null      float64
 40  taxon_species_name                                           8200 non-null   object
 41  taxon_hybrid_name                                            38 non-null     object
 42  taxon_subspecies_name                                        893 non-null    object
 43  taxon_variety_name                                           41 non-null     object
 44  taxon_form_name                                              3 non-null      object
 45  field:id meant for "eater" or organism being eaten?          8177 non-null   object
 46  field:url for "partner" observation                          6282 non-null   object
 47  field:is observation one of these special types of feeding?  6301 non-null   object
dtypes: bool(1), float64(5), int64(3), object(39)
memory usage: 3.0+ MB

# Data Cleaning

In [253]:
col = 'field:url for "partner" observation'

In [254]:
# Strip everything after '#' (including '#')
DataDictionary[col] = DataDictionary[col].str.split('#', n=1).str[0]

#Change the Format - /observations/new?copy=<id> = 1 value to na
DataDictionary[col] = DataDictionary[col].replace('https://www.inaturalist.org/observations/new?copy=51188925', pd.NA)

#Standardize the format - /observations/<id>
DataDictionary[col] = DataDictionary[col].replace('97610245', 'https://www.inaturalist.org/observations/97610245')
DataDictionary[col] = DataDictionary[col].replace('97610244', 'https://www.inaturalist.org/observations/97610244')

##change the na or non value record to nan values
DataDictionary[col] = DataDictionary[col].replace('na', pd.NA)
DataDictionary[col] = DataDictionary[col].replace('none', pd.NA)


#Change the records containing the word "taxa" to nan; Case-insensitive word match for either 'taxa' or 'guide_taxa'
pattern = r'(?i)\b(?:guide_taxa|taxa)\b'

mask = DataDictionary[col].astype(str).str.contains(pattern, na=False)
DataDictionary.loc[mask, col] = pd.NA

#Drop the row which has word photo
DataDictionary[col] = DataDictionary[col].replace("https://www.inaturalist.org/photos/388235399", pd.NA)

#Remove the unwanted "1" character
DataDictionary[col] = DataDictionary[col].replace('1https://www.inaturalist.org/observations/206023212', 'https://www.inaturalist.org/observations/206023212')

In [255]:
#Change the weird names to nan
vals = [
    "butterfly bush",
    "asciepias incarnata",
    "Acrida",
    "Haplotaxida",
    "Subterranean Termites",
    "Brachycera",
    "Holly",
    "abelha do mel",
    "Apple",
    "Flowering Plants",
    "Grasses",
    "Flowering plants",
    "Entelygyne spiders",
    "Pinks, cactuses and allies",
    "Callinectes sapidus",
    "ants",
    "Tachinid Fly"
]
# DataDictionary[col] = DataDictionary[col].astype("string").str.strip()
DataDictionary[col] = DataDictionary[col].replace(vals, pd.NA)

#Correct URL format with multiple Ids for easier splitting later
#Regex to capture iNaturalist observation URLs (case-insensitive for scheme)
URL_PATTERN = re.compile(r"https?://www\.inaturalist\.org/observations/\d+", re.IGNORECASE)
def correct_multiple_urls(entry):
    s= str(entry)
    matches = URL_PATTERN.findall(s)
    if matches:
        return ';'.join(matches)
    return s 
DataDictionary[col] = DataDictionary[col].apply(correct_multiple_urls)

DataDictionary[col]= DataDictionary[col].replace('Https://www.inaturalist.org/observations/204534071;https://www.inaturalist.org/observations/207736494', 'https://www.inaturalist.org/observations/206023212;https://www.inaturalist.org/observations/206023213')

In [256]:
DataDictionary[col] = DataDictionary[col].replace('nan', pd.NA)
DataDictionary[col] = DataDictionary[col].replace('<NA>', pd.NA)

DataDictionary.isna().sum()

id                                                                0
observed_on                                                       0
time_zone                                                         0
url                                                               0
image_url                                                         0
sound_url                                                      8333
description                                                    4881
num_identification_agreements                                     0
num_identification_disagreements                                  0
captive_cultivated                                                0
place_guess                                                      55
latitude                                                         18
longitude                                                        18
positional_accuracy                                            1561
public_positional_accuracy                                     1440
place_town_name                                                7687
place_county_name                                               139
place_state_name                                                 32
place_country_name                                               29
species_guess                                                     3
scientific_name                                                   1
common_name                                                     730
iconic_taxon_name                                                 1
taxon_kingdom_name                                                0
taxon_phylum_name                                                 0
taxon_subphylum_name                                             98
taxon_superclass_name                                          8275
taxon_class_name                                                 18
taxon_subclass_name                                            5367
taxon_superorder_name                                          7393
taxon_order_name                                                 11
taxon_suborder_name                                            5289
taxon_superfamily_name                                         5622
taxon_family_name                                                 3
taxon_subfamily_name                                           3462
taxon_supertribe_name                                          8332
taxon_tribe_name                                               5446
taxon_subtribe_name                                            7557
taxon_genus_name                                                 14
taxon_genushybrid_name                                         8352
taxon_species_name                                              152
taxon_hybrid_name                                              8314
taxon_subspecies_name                                          7459
taxon_variety_name                                             8311
taxon_form_name                                                8349
field:id meant for "eater" or organism being eaten?             175
field:url for "partner" observation                            2123
field:is observation one of these special types of feeding?    2051
dtype: int64

## Results from below invalid url df helped in data cleaning performed in the above section
(-no need to run this section -)

In [ ]:

# # 1) Pattern: allow http/https, optional www, any iNaturalist TLD, digits-only ID; ignore trailing ; or , content
# pattern = (
#     r'(?i)^\s*https?://(?:www\.)?'
#     r'(?:(?:[a-z0-9-]+\.)?inaturalist\.org'      # subdomains of inaturalist.org (e.g., uk.inaturalist.org)
#     r'|inaturalist\.[a-z]+(?:\.[a-z]+){0,2}'     # inaturalist.<tld> with up to two extra labels (e.g., ala.org.au)
#     r'|naturalista\.mx'                           # naturalista.mx
#     r'|biodiversity4all\.org)'                    # biodiversity4all.org
#     r'/observations/\d+'                          # observations/<digits>
#     r'(?:\s*(?:[;,]|\s).*)?\s*$'                  # allow space/comma/semicolon + anything after
# )



# # 2) Work with a Series; strip spaces to make matching resilient
# urls = DataDictionary[col].astype(str).str.strip()

# # 3) Build mask of rows that DO NOT match the required observation URL format
# invalid_mask = ~urls.str.match(pattern)

# # 4) Get the invalid URLs as a Series
# invalid_urls = urls[invalid_mask]

# #5) Remove "nan" values
# invalid_urls = invalid_urls[invalid_urls.str.lower() != 'nan']

## Fixing the records in the column - "field:id meant for "eater" or organism being eaten?" where there is null values.

In [257]:

DataDictionary.loc[DataDictionary['id'] == 19501898, 'field:id meant for "eater" or organism being eaten?'] = 'eater'


DataDictionary.loc[DataDictionary['id'] == 44415193, 'field:id meant for "eater" or organism being eaten?'] = 'eater'


DataDictionary.loc[DataDictionary['id'] == 67863970, 'field:id meant for "eater" or organism being eaten?'] = 'thing being eaten'

## Normalize the Role Column

In [258]:
role_col = 'field:id meant for "eater" or organism being eaten?'
def normalize_role(val):
    s = str(val).strip().lower()
    if 'eater' in s:
        return 'predator'
    if ('thing' in s or 'organism' in s) and 'eaten' in s:
        return 'prey'
    return pd.NA

DataDictionary['role'] = DataDictionary[role_col].apply(normalize_role) if role_col else pd.NA

In [277]:
DataDictionary.to_csv('Data/DataDictionary.csv', index=False)

## Linking Predator and Prey Observations in the Dataset DataFrame

In [275]:

# Store the partner_IDs from the partner observation column
pattern = r'(?:observations/)?(\d+)\b'

# Handle missing values by replacing them with an empty string
DataDictionary['partner_ids'] = DataDictionary[col].apply(lambda x: re.findall(pattern, str(x) if pd.notna(x) else ''))

DataDictionary[['partner_ids', col]]

      partner_ids                field:url for "partner" observation
0       [1766953]   https://www.inaturalist.org/observations/1766953
1              []                                               <NA>
2        [414707]    https://www.inaturalist.org/observations/414707
3        [414645]    https://www.inaturalist.org/observations/414645
4              []                                               <NA>
...           ...                                                ...
8347  [332941091]  https://www.inaturalist.org/observations/33294...
8348  [332941090]  https://www.inaturalist.org/observations/33294...
8349  [332946107]  https://www.inaturalist.org/observations/33294...
8350           []                                               <NA>
8351           []                                               <NA>

[8352 rows x 2 columns]

In [276]:
# Explode the DataFrame based on partner_ids
DataDictionary = DataDictionary.explode('partner_ids').reset_index(drop=True)
DataDictionary.shape

(8544, 50)

In [295]:
# Convert partner_ids to numeric, setting errors='coerce' to handle non-numeric values
DataDictionary['partner_ids'] = pd.to_numeric(
    DataDictionary['partner_ids'], errors='coerce'
).astype('Int64')

In [296]:
columns = [
    "observed_on", "time_zone", "url", "image_url", "sound_url", 
    "positional_accuracy", "place_guess", "latitude", "longitude", "place_town_name", "place_county_name",
    "place_state_name", "place_country_name", "special_type_of_feeding", "captive_cultivated",
    "predator_id", "predator_scientific_name", "predator_common_name", "predator_iconic_taxon_name",
    "predator_taxon_species_name", "predator_taxon_kingdom_name",
    "predator_taxon_phylum_name", "predator_taxon_subphylum_name", "predator_taxon_superclass_name",
    "predator_taxon_class_name", "predator_taxon_subclass_name", "predator_taxon_superorder_name", 
    "predator_taxon_order_name", "predator_taxon_suborder_name", "predator_taxon_superfamily_name",
    "predator_taxon_family_name", "predator_taxon_subfamily_name", "predator_taxon_supertribe_name",
    "predator_taxon_tribe_name", "predator_taxon_subtribe_name", "predator_taxon_genus_name", 
    "predator_taxon_genushybrid_name", "predator_taxon_species_name", "predator_taxon_hybrid_name", 
    "predator_taxon_subspecies_name", "predator_taxon_variety_name", "predator_taxon_form_name",
    "predator_description", "predator_agreements", "prey_id", "prey_scientific_name", "prey_common_name",
    "prey_iconic_taxon_name",  "prey_taxon_species_name", "prey_taxon_kingdom_name", 
    "prey_taxon_phylum_name", "prey_taxon_subphylum_name", "prey_taxon_superclass_name", 
    "prey_taxon_class_name", "prey_taxon_subclass_name", "prey_taxon_superorder_name", 
    "prey_taxon_order_name", "prey_taxon_suborder_name", "prey_taxon_superfamily_name",
     "prey_taxon_family_name", "prey_taxon_subfamily_name", "prey_taxon_supertribe_name",
    "prey_taxon_tribe_name", "prey_taxon_subtribe_name", "prey_taxon_genus_name",
    "prey_taxon_genushybrid_name", "prey_taxon_species_name", "prey_taxon_hybrid_name",
    "prey_taxon_subspecies_name", "prey_taxon_variety_name", "prey_taxon_form_name",
    "prey_description", "prey_agreements"
]

final_df = pd.DataFrame(columns=columns)

In [297]:
final_df.columns

Index(['observed_on', 'time_zone', 'url', 'image_url', 'sound_url',
       'positional_accuracy', 'place_guess', 'latitude', 'longitude',
       'place_town_name', 'place_county_name', 'place_state_name',
       'place_country_name', 'special_type_of_feeding', 'captive_cultivated',
       'predator_id', 'predator_scientific_name', 'predator_common_name',
       'predator_iconic_taxon_name', 'predator_taxon_species_name',
       'predator_taxon_kingdom_name', 'predator_taxon_phylum_name',
       'predator_taxon_subphylum_name', 'predator_taxon_superclass_name',
       'predator_taxon_class_name', 'predator_taxon_subclass_name',
       'predator_taxon_superorder_name', 'predator_taxon_order_name',
       'predator_taxon_suborder_name', 'predator_taxon_superfamily_name',
       'predator_taxon_family_name', 'predator_taxon_subfamily_name',
       'predator_taxon_supertribe_name', 'predator_taxon_tribe_name',
       'predator_taxon_subtribe_name', 'predator_taxon_genus_name',
       'predator_taxon_genushybrid_name', 'predator_taxon_species_name',
       'predator_taxon_hybrid_name', 'predator_taxon_subspecies_name',
       'predator_taxon_variety_name', 'predator_taxon_form_name',
       'predator_description', 'predator_agreements', 'prey_id',
       'prey_scientific_name', 'prey_common_name', 'prey_iconic_taxon_name',
       'prey_taxon_species_name', 'prey_taxon_kingdom_name',
       'prey_taxon_phylum_name', 'prey_taxon_subphylum_name',
       'prey_taxon_superclass_name', 'prey_taxon_class_name',
       'prey_taxon_subclass_name', 'prey_taxon_superorder_name',
       'prey_taxon_order_name', 'prey_taxon_suborder_name',
       'prey_taxon_superfamily_name', 'prey_taxon_family_name',
       'prey_taxon_subfamily_name', 'prey_taxon_supertribe_name',
       'prey_taxon_tribe_name', 'prey_taxon_subtribe_name',
       'prey_taxon_genus_name', 'prey_taxon_genushybrid_name',
       'prey_taxon_species_name', 'prey_taxon_hybrid_name',
       'prey_taxon_subspecies_name', 'prey_taxon_variety_name',
       'prey_taxon_form_name', 'prey_description', 'prey_agreements'],
      dtype='object')

In [298]:
# Iterate through each row in the expanded DataFrame and build the final DataFrame accordingly
rows = []
for index, row in DataDictionary.iterrows():
    l=[]
    if pd.notna(row['role']) and row['role'] == 'predator':
        new_row = {
        "observed_on" : row['observed_on'],
        "time_zone": row['time_zone'],
        "url" : row['url'],
        "image_url" : row['image_url'],
        "sound_url" : row['sound_url'],
        "positional_accuracy": row['positional_accuracy'],
        "place_guess" : row['place_guess'],
        "latitude": row['latitude'],
        "longitude" : row['longitude'],
        "place_town_name" : row['place_town_name'],
        "place_county_name" : row['place_county_name'],
        "place_state_name" : row['place_state_name'],
        "place_country_name" : row['place_country_name'],
        "special_type_of_feeding" : row['field:is observation one of these special types of feeding?'],
        "captive_cultivated": row['captive_cultivated'],

        "predator_id" : row['id'],
        "predator_scientific_name" : row['scientific_name'],
        "predator_common_name": row['common_name'],
        "predator_iconic_taxon_name" : row['iconic_taxon_name'],
        "predator_taxon_species_name" : row["taxon_species_name"],
        "predator_taxon_kingdom_name" : row["taxon_kingdom_name"],
        'predator_taxon_phylum_name': row["taxon_phylum_name"],
        'predator_taxon_subphylum_name': row["taxon_subphylum_name"],
        'predator_taxon_superclass_name': row["taxon_superclass_name"],
        'predator_taxon_class_name': row["taxon_class_name"],
        'predator_taxon_subclass_name': row["taxon_subclass_name"],
        'predator_taxon_superorder_name': row["taxon_superorder_name"],
        'predator_taxon_order_name': row["taxon_order_name"],
        'predator_taxon_suborder_name': row["taxon_suborder_name"],
        'predator_taxon_superfamily_name': row["taxon_superfamily_name"],
        'predator_taxon_family_name': row["taxon_family_name"],
        'predator_taxon_subfamily_name': row["taxon_subfamily_name"],
        'predator_taxon_supertribe_name': row["taxon_supertribe_name"],
        'predator_taxon_tribe_name': row["taxon_tribe_name"], 
        'predator_taxon_subtribe_name': row["taxon_subtribe_name"],
        'predator_taxon_genus_name': row["taxon_genus_name"], 
        'predator_taxon_genushybrid_name': row["taxon_genushybrid_name"],
        'predator_taxon_species_name': row["taxon_species_name"], 
        'predator_taxon_hybrid_name': row["taxon_hybrid_name"],
        'predator_taxon_subspecies_name': row["taxon_subspecies_name"], 
        'predator_taxon_variety_name': row["taxon_variety_name"],
        'predator_taxon_form_name': row["taxon_form_name"], 
        'predator_description': row["description"],
        'predator_agreements': row["num_identification_agreements"]    
        }

        x = DataDictionary[DataDictionary['id'] == row['partner_ids']]

        if not x.empty:
            x = x.iloc[0]  # take the first match
            new_row['prey_id'] = x['id']
            new_row['prey_scientific_name'] = x['scientific_name']
            new_row['prey_common_name'] = x['common_name']
            new_row['prey_iconic_taxon_name'] = x['iconic_taxon_name']
            new_row["prey_taxon_species_name"] = x['taxon_species_name']
            new_row["prey_taxon_kingdom_name"] = x['taxon_kingdom_name']
            new_row['prey_taxon_phylum_name'] = x['taxon_phylum_name']
            new_row['prey_taxon_subphylum_name'] = x['taxon_subphylum_name']
            new_row['prey_taxon_superclass_name'] = x['taxon_superclass_name']
            new_row['prey_taxon_class_name'] = x['taxon_class_name']
            new_row['prey_taxon_subclass_name'] = x['taxon_subclass_name']
            new_row['prey_taxon_superorder_name'] = x['taxon_superorder_name']
            new_row['prey_taxon_order_name'] = x['taxon_order_name']
            new_row['prey_taxon_suborder_name'] = x['taxon_suborder_name']
            new_row['prey_taxon_superfamily_name'] = x['taxon_superfamily_name']
            new_row['prey_taxon_family_name'] = x['taxon_family_name']
            new_row['prey_taxon_subfamily_name'] = x['taxon_subfamily_name']
            new_row['prey_taxon_supertribe_name'] = x['taxon_supertribe_name']
            new_row['prey_taxon_tribe_name'] = x['taxon_tribe_name']
            new_row['prey_taxon_subtribe_name'] = x['taxon_subtribe_name']
            new_row['prey_taxon_genus_name'] = x['taxon_genus_name']
            new_row['prey_taxon_genushybrid_name'] = x['taxon_genushybrid_name']
            new_row['prey_taxon_species_name'] = x['taxon_species_name']
            new_row['prey_taxon_hybrid_name'] = x['taxon_hybrid_name']
            new_row['prey_taxon_subspecies_name'] = x['taxon_subspecies_name']
            new_row['prey_taxon_variety_name'] = x['taxon_variety_name']
            new_row['prey_taxon_form_name'] = x['taxon_form_name']
            new_row['prey_description'] = x['description']
            new_row['prey_agreements'] = x['num_identification_agreements']

        else:
            # fallback if prey not found
            new_row['prey_id'] = None
            new_row['prey_scientific_name'] = None
            new_row['prey_common_name'] = None
            new_row['prey_iconic_taxon_name'] = None
            new_row["prey_taxon_species_name"] = None
            new_row["prey_taxon_kingdom_name"] = None
            new_row['prey_taxon_phylum_name'] = None
            new_row['prey_taxon_subphylum_name'] = None
            new_row['prey_taxon_superclass_name'] = None
            new_row['prey_taxon_class_name'] = None
            new_row['prey_taxon_subclass_name'] = None
            new_row['prey_taxon_superorder_name'] = None
            new_row['prey_taxon_order_name'] = None
            new_row['prey_taxon_suborder_name'] = None
            new_row['prey_taxon_superfamily_name'] = None
            new_row['prey_taxon_family_name'] = None
            new_row['prey_taxon_subfamily_name'] = None
            new_row['prey_taxon_supertribe_name'] = None
            new_row['prey_taxon_tribe_name'] = None
            new_row['prey_taxon_subtribe_name'] = None
            new_row['prey_taxon_genus_name'] = None
            new_row['prey_taxon_genushybrid_name'] = None
            new_row['prey_taxon_species_name'] = None
            new_row['prey_taxon_hybrid_name'] = None
            new_row['prey_taxon_subspecies_name'] = None
            new_row['prey_taxon_variety_name'] = None
            new_row['prey_taxon_form_name'] = None
            new_row['prey_description'] = None
            new_row['prey_agreements'] = None

        # Append row to final dataframe
        #final_df = pd.concat([final_df, pd.DataFrame([new_row])], ignore_index=True)
        rows.append(new_row)

    elif pd.notna(row['role']) and row['role'] == 'prey':
        new_row = {
        "observed_on" : row['observed_on'],
        "time_zone": row['time_zone'],
        "url" : row['url'],
        "image_url" : row['image_url'],
        "sound_url" : row['sound_url'],
        "positional_accuracy": row['positional_accuracy'],
        "place_guess" : row['place_guess'],
        "latitude": row['latitude'],
        "longitude" : row['longitude'],
        "place_town_name" : row['place_town_name'],
        "place_county_name" : row['place_county_name'],
        "place_state_name" : row['place_state_name'],
        "place_country_name" : row['place_country_name'],
        "special_type_of_feeding" : row['field:is observation one of these special types of feeding?'],
        "captive_cultivated": row['captive_cultivated'],

        "prey_id" : row['id'],
        "prey_scientific_name" : row['scientific_name'],
        "prey_common_name": row['common_name'],
        "prey_iconic_taxon_name" : row['iconic_taxon_name'],
        "prey_taxon_species_name" : row["taxon_species_name"],
        "prey_taxon_kingdom_name" : row["taxon_kingdom_name"],
        'prey_taxon_phylum_name': row['taxon_phylum_name'],
        'prey_taxon_subphylum_name': row['taxon_subphylum_name'], 
        'prey_taxon_superclass_name': row['taxon_superclass_name'],
        'prey_taxon_class_name': row['taxon_class_name'], 
        'prey_taxon_subclass_name': row['taxon_subclass_name'],
        'prey_taxon_superorder_name': row['taxon_superorder_name'], 
        'prey_taxon_order_name': row['taxon_order_name'],
        'prey_taxon_suborder_name': row['taxon_suborder_name'], 
        'prey_taxon_superfamily_name': row['taxon_superfamily_name'],
        'prey_taxon_family_name': row['taxon_family_name'], 
        'prey_taxon_subfamily_name': row['taxon_subfamily_name'],
        'prey_taxon_supertribe_name': row['taxon_supertribe_name'], 
        'prey_taxon_tribe_name': row['taxon_tribe_name'],
        'prey_taxon_subtribe_name': row['taxon_subtribe_name'], 
        'prey_taxon_genus_name': row['taxon_genus_name'],
        'prey_taxon_genushybrid_name': row['taxon_genushybrid_name'], 
        'prey_taxon_species_name': row['taxon_species_name'],
        'prey_taxon_hybrid_name': row['taxon_hybrid_name'], 
        'prey_taxon_subspecies_name': row['taxon_subspecies_name'],
        'prey_taxon_variety_name': row['taxon_variety_name'], 
        'prey_taxon_form_name': row['taxon_form_name'], 
        'prey_description': row['description'],
        'prey_agreements': row["num_identification_agreements"]
        }

        x = DataDictionary[DataDictionary['id'] == row['partner_ids']]

        if not x.empty:
            x = x.iloc[0]  # take the first match
            new_row['predator_id'] = x['id']
            new_row['predatorscientific_name'] = x['scientific_name']
            new_row['predator_common_name'] = x['common_name']
            new_row['predator_iconic_taxon_name'] = x['iconic_taxon_name']
            new_row["predator_taxon_species_name"] = x['taxon_species_name']
            new_row["predator_taxon_kingdom_name"] = x['taxon_kingdom_name']
            new_row["predator_taxon_phylum_name"] = x['taxon_phylum_name']
            new_row["predator_taxon_subphylum_name"] = x['taxon_subphylum_name']
            new_row["predator_taxon_superclass_name"] = x['taxon_superclass_name']
            new_row["predator_taxon_class_name"] = x['taxon_class_name']
            new_row["predator_taxon_subclass_name"] = x['taxon_subclass_name']
            new_row["predator_taxon_superorder_name"] = x['taxon_superorder_name']
            new_row["predator_taxon_order_name"] = x['taxon_order_name']
            new_row["predator_taxon_suborder_name"] = x['taxon_suborder_name']
            new_row["predator_taxon_superfamily_name"] = x['taxon_superfamily_name']
            new_row["predator_taxon_family_name"] = x['taxon_family_name']
            new_row["predator_taxon_subfamily_name"] = x['taxon_subfamily_name']
            new_row["predator_taxon_supertribe_name"] = x['taxon_supertribe_name']
            new_row["predator_taxon_tribe_name"] = x['taxon_tribe_name']
            new_row["predator_taxon_subtribe_name"] = x['taxon_subtribe_name']
            new_row["predator_taxon_genus_name"] = x['taxon_genus_name']
            new_row["predator_taxon_genushybrid_name"] = x['taxon_genushybrid_name']
            new_row["predator_taxon_species_name"] = x['taxon_species_name']
            new_row["predator_taxon_hybrid_name"] = x['taxon_hybrid_name']
            new_row["predator_taxon_subspecies_name"] = x['taxon_subspecies_name']
            new_row["predator_taxon_variety_name"] = x['taxon_variety_name']
            new_row["predator_taxon_form_name"] = x['taxon_form_name']
            new_row["predator_description"] = x['description']
            new_row["predator_agreements"] = x['num_identification_agreements']

        else:
            # fallback if prey not found
            new_row['predator_id'] = None
            new_row['predator_scientific_name'] = None
            new_row['predator_common_name'] = None
            new_row['predator_iconic_taxon_name'] = None
            new_row["predator_taxon_species_name"] = None
            new_row["predator_taxon_kingdom_name"] = None
            new_row["predator_taxon_phylum_name"] = None
            new_row["predator_taxon_subphylum_name"] = None
            new_row["predator_taxon_superclass_name"] = None
            new_row["predator_taxon_class_name"] = None
            new_row["predator_taxon_subclass_name"] = None
            new_row["predator_taxon_superorder_name"] = None
            new_row["predator_taxon_order_name"] = None
            new_row["predator_taxon_suborder_name"] = None
            new_row["predator_taxon_superfamily_name"] = None
            new_row["predator_taxon_family_name"] = None
            new_row["predator_taxon_subfamily_name"] = None
            new_row["predator_taxon_supertribe_name"] = None
            new_row["predator_taxon_tribe_name"] = None
            new_row["predator_taxon_subtribe_name"] = None
            new_row["predator_taxon_genus_name"] = None
            new_row["predator_taxon_genushybrid_name"] = None
            new_row["predator_taxon_species_name"] = None
            new_row["predator_taxon_hybrid_name"] = None
            new_row["predator_taxon_subspecies_name"] = None
            new_row["predator_taxon_variety_name"] = None
            new_row["predator_taxon_form_name"] = None
            new_row["predator_description"] = None
            new_row["predator_agreements"] = None

            


        rows.append(new_row)
        # Append row to final dataframe
final_df = pd.DataFrame(rows, columns=columns)

In [299]:
final_df.to_csv('Data/final_df.csv', index=False)

## Splitting the final_df into null_partner dataframe (where either predator or prey value doesnt exist) and obs_df dataframe (where both predator and prey values are present)

In [304]:
final_df[["prey_id", "predator_id"]].isna().sum()

prey_id        3453
predator_id     920
dtype: int64

In [305]:
null_partner=final_df[(final_df["predator_id"].isna()) | (final_df["prey_id"].isna())]
null_partner.to_csv('Data/Null_Partner.csv', index=False)

In [306]:
obs_df=final_df[(final_df["predator_id"].notna()) & (final_df["prey_id"].notna())]
obs_df.to_csv('Data/Obs_df.csv', index=False)